<div class="col-md-12 container">
    <br>
    <h3>Registered users</h3>
    <br>
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>Username</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Salary</th>
                <th>View more</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of userData">
                <td>{{user.username}}</td>
                <td>{{user.name}}</td>
                <td>{{user.surname}}</td>
                <td>{{user.salary}}</td>
                <td>...</td>
            </tr>
        </tbody>
        <tr></tr>
    </table>
</div>